/* Enter your custom styles here */
.myLabelStyle {
    margin-top: 2px; /* 设置上间距 */
}

.redCell {
    background-color: red !important;
    color: white;
    will-change: transform;
}

.greenCell {
    background-color: #66FF33 !important;
    color: white;
    will-change: transform;
}

.yellowCell {
    background-color: yellow !important;
    color: white;
    will-change: transform;
}

.whiteCell {
    background-color: white !important;
}