/* Enter your custom styles here */
.myLabelStyle {
  margin-top: 2px; /* 设置上间距 */
}

.redCell {
  background-color: red !important;
  color: white;
}

.greenCell {
  background-color: #66FF33 !important;
  color: white;
}

.yellowCell {
  background-color: yellow !important;
  color: white;
}

tr[data-mydata="2024"]{ 
   background:  #ffff33!important;
  }
 